{% extends 'base.html.twig' %}

{% block stylesheets_scrypts %}
    {{ encore_entry_link_tags('talks') }}
    {{ encore_entry_script_tags('talks') }}
{% endblock %}

{% block body %}
    <div id="talks_listing"></div><nav>
{% endblock %}