<div class="list-group" id="talk_{{ talk.id }}"></div>

<div class="input-group mb-3">
    <input type="text" class="form-control sm" placeholder="Write a message ..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary sm" type="button" id="talk_send_{{ talk.id }}">Send</button>
</div>