{% extends 'base.html.twig' %}

{% block title %}Все здесь{% endblock %}

{% block stylesheets_scrypts %}
    {{ encore_entry_link_tags('talkers') }}
    {{ encore_entry_script_tags('talkers') }}
{% endblock %}

{% block body %}
    <table id="talkers_listing"></table>
{% endblock %}
