{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets_scrypts %}
    {{ encore_entry_link_tags('profile') }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
    <div id="profile"></div>
{% endblock %}
