{% extends 'base.html.twig' %}

{% block stylesheets_scrypts %}
    {{ encore_entry_link_tags('talk') }}
    {{ encore_entry_script_tags('talk') }}
{% endblock %}

{% block body %}
    <div id="talk"></div>
{% endblock %}